<div class="container">
    <button mat-raised-button color="primary" (click)="openAddAddress()">
        Add address
    </button>
    <button mat-raised-button color="primary" (click)="openAddCategory()">
        Add new category
    </button>
    <button mat-raised-button color="primary" (click)="openEditAddress()">
        Edit address
    </button>
    <button mat-raised-button color="primary" (click)="openAddMoneyToWallet()">
        Add money to wallet
    </button>
    <button mat-raised-button color="primary" (click)="openAreYouSureToClearNotification()">
        Are you sure to clear notification
    </button>
    <button mat-raised-button color="primary" (click)="openAssignAgent()">
        Assign Agent
    </button>
    <button mat-raised-button color="primary" (click)="openBookingWillCanceled()">
        Booking will be canceled
    </button>
    <button mat-raised-button color="primary" (click)="openEditAttendance1()">
        Edit attendance 1
    </button>
    <button mat-raised-button color="primary" (click)="openEditAttendance2()">
        Edit attendance 2
    </button>
    <button mat-raised-button color="primary" (click)="openAddNewService()">
        Add New Service
    </button>
    <button mat-raised-button color="primary" (click)="openEditService()">
        Edit Service
    </button>
    <button mat-raised-button color="primary" (click)="openDebitDetails()">
        Debit Details
    </button>
    <button mat-raised-button color="primary" (click)="openCreditDetails()">
        Credit Details
    </button>
    <button mat-raised-button color="primary" (click)="openPolicy()">
        Policy
    </button>
    <button mat-raised-button color="primary" (click)="openLedgerConfirmation()">
        ledger Confirmation
    </button>
</div>
