<div class="main-container">
    <!-- Container for login form -->
    <div class="containerr">
        <div class="boxx">
            <!-- Login header -->
            <h2>Login</h2>
            <!-- <p>Hello! Log in with your email.</p> -->


            <!-- <form #adminForm="ngForm" (ngSubmit)="submitted(adminForm)"> -->
                <!-- Email input -->
                <!-- <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" placeholder="Service name" required value="Pratap" [(ngModel)]="name">
                </div> -->
                <!-- Password input -->
                <!-- <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Service name" required value="Pratap" [(ngModel)]="password">
                </div> -->
                <!-- Remember Me and Forgot Password links -->
                <!-- <div class="form-group otherFeature">
                    <div class="rememberMe">
                        <input type="checkbox" id="rememberMe"><label for="rememberMe">Remember Me</label>
                    </div>
                    <div class="forgotPassword">
                        <a routerLink="/forgot-password">Forgot Password?</a>
                    </div>
                </div> -->
                <!-- Login button -->
                <!-- <div class="form-group">
                    <button type="submit">Log In</button>
                </div> -->
            <!-- </form> -->


            <!-- Google Login option -->
            <div class="GoogleLogin">
                <!-- <p>or enter with:</p> -->
                <p>with google</p>
                <button (click)="auth.googleSignin()"> <img src="\assets\icon\AgentViewBookingDetail\google.svg"></button>
            </div>
            <!-- Registration link -->
            <!-- <div class="register">
                <p>Don't have an account? <a routerLink="/register"> Register</a></p>
            </div> -->
        </div>
    </div>
    <!-- Left Vector Image -->
    <div class="left-vector">
        <img src="assets\icon\Authentication\Left_Bottom.svg">
    </div>
    <!-- Right Vector Image -->
    <div class="right-vector">
        <img src="assets\icon\Authentication\Right_Bottom.svg">
    </div>
</div>