<div class="wrapper">
    <div class="header">
        <div class="d-flex heading-text">
          <span class="blue-bold-text">Add City</span>
          <mat-icon class="blue-bold-text">location_on</mat-icon>
        </div>
        <div class="modal-close-icon">
          <mat-icon (click)="closeDialog()">close</mat-icon>
        </div>
    </div>
    <hr class="my-4">
    <div>
      <form
        [formGroup]="cityAddForm"
        class=""
        (ngSubmit)="cityAddForm.valid && addCity()"
      >
      <div class="icons mt-3">
            <mat-form-field panelClass="areadd" class="areadd w-100 mb-3">
                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-label>Select State</mat-label>
                <mat-select formControlName="state">
                    <mat-option value="">Select</mat-option>
                    <mat-option *ngFor="let state of states | keyvalue" [value]="state.key">{{state.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 mb-3">
              <input matInput formControlName="city" placeholder="City Name">
            </mat-form-field>
            <div class="d-flex align-items-center mb-3">
              <span class="me-2">Is Active</span>
              <label class="switch">
                <input type="checkbox" formControlName="active"/>
                <span class="slider round"></span>
              </label>
            </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex">
            <button class="btn btn-primary me-3" type="submit">Submit</button>
            <button class="btn btn-secondary" (click)="closeDialog()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>