<div class="main-container">

    <div class="containerr">

        <div class="boxx">
            <h2>Change Password</h2>
            <p>Please set a new password</p>
            <form>
                <!-- New Password Field -->
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="********" required>
                </div>
                <!-- Confirm Password Field -->
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="********" required>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" routerLink="/login">Request Password</button>
                </div>
            </form>
            <!-- Other Features Section -->
            <div class="form-group otherFeature">
                <div class="rememberMe">
                    <a routerLink="/login">Back to Login</a>
                </div>
                <div class="register">
                    <a routerLink="/register">Register</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Left Vector Image -->
    <div class="left-vector">
        <img src="assets\icon\Authentication\Left_Bottom.svg">
    </div>
    <!-- Right Vector Image -->
    <div class="right-vector">
        <img src="assets\icon\Authentication\Right_Bottom.svg">
    </div>
</div>
