.wrapper {
    padding: 20px;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        .color-round{
            background: #07BF72;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            color: #fff;
            display: inline-block;
            text-align: center;
        }

        .mat-icon {
            cursor: pointer;
        }
    }

    .error {
        margin-top: -20px;
    }

    .catalogue-name-form {
        button {
            background: #fff;
            height: 55px;
            padding: 10px 20px;
            margin: 4px 10px;
            border-radius: 5px;
            color: #145889;
            border: 1px solid #145889;

            &:hover {
                background-color: #145889;
                color: #fff;
            }
        }
    }
}

.fullWidth {
    width: 100%;
}

.services{
    display: grid;
    grid-template-columns: 25% 25% calc(50% - 25px);
    gap:8px;
    .iconButton{
        transition: 0.05s ease-in;
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        background-color: transparent;
        border: none;
    }
    .heading{
        display: flex;
        padding: 10px 20px;
        font-size: 16px;
        color:#444;
        background: #eee;
        font-weight: 600;
    }
    .categories{
        box-shadow:inset 0px 0px 10px rgba(0,0,0,0.1);
        .list{
            height: calc(80vh - 200px);
            overflow-y: auto;
            span{
                position: sticky;
                top:0px;
                left:0px;
                z-index: 99;
                box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            }
            .category,span{
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: white;
                padding: 8px 12px;
                .actions{
                    display: flex;
                    align-items: center;
                }
                p{
                    margin: 0;
                }
                mat-icon{
                    font-size: 20px;
                }
            }
            .category{
                cursor: pointer;
                border-bottom: 2px solid cornflowerblue;
                color:rgb(30, 90, 202);
                background: rgb(205, 223, 255);
                transition: 0.05s ease-in;
                &.active{
                    background-color: cornflowerblue;
                    color:white;
                    .iconButton{
                        color:white;
                    }
                }
            }
        }
    }
    .services{
        box-shadow:inset 0px 0px 10px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        // same as category with primary color as tomato
        .service{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid rgb(0, 136, 64);
            color:rgb(0, 136, 64);
            background: rgb(178, 255, 195);
            transition: 0.05s ease-in;
            padding: 10px 20px;
            p{margin:0}
            &.active{
                background-color: rgb(0, 136, 64);
                color:white;
            }
        }

        .list {
            height: calc(80vh - 200px);
            overflow: auto;
        }
    }
    .serviceDetail{
        box-shadow:inset 0px 0px 10px rgba(0,0,0,0.1);
        background: white;
        height: calc(80vh - 150px);
        overflow: auto;

        .noService{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            img{
                width: 100%;
                max-width: 300px;
                object-fit: contain;
            }
        }
    }
}

.dropArea{
    border: 2px dashed #c7c7c7;
    img{
        width: 200px;
        height: 200px;
        object-fit: contain;
        margin:0 auto;
    }
}
form{
    overflow-y: auto;
    .body{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:10px;
        .assets{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:20px;
            .dropArea{
                border: 2px dashed #c7c7c7;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                height: 100px;
                p{
                    margin: 0;
                    color:#c7c7c7;
                }
                video{
                    height: 100%;
                }
                &.image{
                    overflow: auto;
                    display: flex;
                    max-width: 300px;
                    flex-wrap: wrap;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                        border-radius: 8px;
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:20px;
            align-items: center;
            justify-content: center;
            .fullWidth{
                grid-column: 1/3;
            }
            mat-slide-toggle{
                margin-bottom: 20px;
            }
        }
        #blogEditor{
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            border: 1px solid #c7c7c7;
            padding: 10px 20px;
            &.disabled {
                color: rgba(0, 0, 0, 0.38);
                background: rgba(0,0,0,0);
            }
        }
        .subHeading{
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid rgb(86, 151, 255);
            align-items: center;
        }
        .coupons{
            .searchBar{
                display: flex;
                align-items: center;
                border-radius: 8px;
                background:#FFF;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
                overflow: hidden;
                padding: 5px;
                input{
                    border: none;
                    height: 100%;
                    width: 100%;
                    padding: 5px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        table{
            width: 100%;
            margin-top: 15px;
            thead{
                color: rgb(86, 151, 255);
                background: white;
            }
            tbody{
                tr:nth-child(even){
                    background: #f7f7f7;
                }
                tr:nth-child(odd){
                    background: #ffffff;
                }
                td.badges{
                    align-items: center;
                    justify-content: center;
                    .percentage, .flat{
                        padding: 5px 20px;
                        border-radius: 8px;
                        background:#6D8FF5;
                        color:white;
                        margin: auto;
                        display: block;
                        width: min-content;
                    }
                    .fixed{
                        padding: 20px;
                        border-radius: 8px;
                        background: #B556FF;
                        color:white;
                        margin: auto;
                        display: block;
                        width: min-content;
                    }
                }
            }
        }
        .taxes{
            display: flex;
            flex-direction: column;
            gap:15px;
        }
    }
    .actions{
        display: flex;
        padding: 20px;
        justify-content: flex-end;
        border-top: 2px solid #c7c7c7;
        gap:20px;
    }
}
.padding{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap:20px;
    .section{
        background:  #f1f1f1;
        padding: 12px;;
        border-radius: 8px;
        th,td{
            background: #f1f1f1;
        }
    }
    .variants{
        td{
            mat-form-field {
                max-width: 140px;
            }
        }
    }
}

.ng-invalid {
    border-color: var(--mdc-theme-error, #f44336) !important;
}