$heading: #145889;

* {
  font-size: 16px;
  ::-webkit-scrollbar {
    width: 1px !important;
    display: none;
  }
}
.wrapper {
  padding: 20px;
}

.modal-header {
  font-size: 18px !important;
}

.modal-dialog {
  height: 90vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 707px !important;
  height: 90vh !important;
  flex-shrink: 0;
  border-radius: 14px;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heading-circle {
  border-radius: 50%;
}

.header-tab {
  width: 26px;
  height: 26px;
}

.time-tab {
  width: 14px;
  height: 14px;
}

svg,
mat-icon {
  cursor: pointer;
}

.header-title,
.header-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.circle {
  border-radius: 50%;
  position: absolute;
  top: 43px;
}

div[disabled] {
  .circle {
    background-color: #b0b0b0;
  }
  .timeline-text,
  .timeline-item {
    color: #b0b0b0;
  }
}

.timeline-line {
  position: absolute;
  width: 89%;
  left: 5%;
  top: 48px;
  height: 3px;
  display: flex;
  border-radius: 15px;
  background-color: #b0b0b0;
}

.timeline-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.timeline-text {
  margin-top: 15px;
}

.booking-details,
.customer-details,
.price-details {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: min-content;
  margin-bottom: 15px;
  padding: 5px;
}

.heading {
  color: $heading;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.sub-heading {
  color: $heading;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.divide-Y {
  width: 1px;
  height: 40px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.divide-X {
  width: 100%;
  margin: 5px 0;
  height: 1px;
  flex-shrink: 0;
  background: #d6d6d6;
}

.flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.float-left {
  float: left;
}

.blunt {
  color: var(--text-black, #454545);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.flex-width,
.flex-width-book,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  text-align: left;
}

.flex-width {
  width: 33% !important;
}

.width {
  width: 25% !important;
}

.cta {
  display: flex;
  width: 154px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.success {
  background: var(--Button, #145889);
}

.empty {
  background: white;
  color: $heading;
}

.fail {
  background: var(--Button, #a83a21);
}

.otherModals {
  justify-content: space-evenly !important;
}

.copyClipboardMessage{
  position: absolute;
  top: 50px;
  border: 1px solid #b0b0b0;
  padding: 3px;
  border-radius: 10px;
  background: white;
  font-size: 11px;
}

.discarded {
  color: #b0b0b0;

  .heading, .sub-heading, .blunt {
    color: #b0b0b0 !important;
  }

  svg path {
    fill: #b0b0b0 !important;
  }

  .note {
    color: #000;
  }

  .close-btn {
    svg path {
      fill: rgb(232, 44, 44) !important;
    }
  }
}