/* Variables */
$header-height: 10%;

/* Header */
.header {
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding-bottom: 2em;
}

/* Header buttons */
.header button {
  width: 40px;
  border: none;
  background: none;
  position: relative;
  top: -10px;
}

/* Details Box */
.details-box {
  font-family: Lato;
  font-weight: 400;
  height: 80%;
  padding: 2em;
}

/* Details Box image */
.details-box img {
  width: 4em;
}

/* User Details */
.user-details {
  justify-content: space-between;
  display: flex;
}

/* Basic Details */
.basic-details {
  display: flex;
  margin-left: -5em;
}

.basic-details .flex {
  display: flex;
  margin: auto 3em;
  flex-direction: column;
}

/* Basic Details images */
.basic-details img {
  width: 1em;
  margin: auto;
}

/* Status */
.status {
  align-self: baseline;
  color: #579540;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 8px;
  background: #ecf8f1;
}

/* Contact Details */
.contact-details {
  display: flex;
  align-self: baseline;
}

/* Contact Details buttons */
.contact-details button {
  border-radius: 50px;
  border: 2px solid #d9e4ff;
  background: #fff;
  font-size: 10px;
  width: 40px;
  padding: 8px;
  height: 40px;
  margin: auto 15px;
}

/* Booking Info */
.booking-info {
  border-bottom: 1px solid #e4e9f2;
  display: flex;
  width: 100%;
  gap: 5rem;
  margin-bottom: 1rem;
}

/* Assigned Status */
.booking-info .assignedStatus {
  border-radius: 8px;
  background: rgba(196, 255, 174, 0.4);
  padding: 3px 8px;
  color: #579540;
  align-items: flex-start;
}

/* Booking Section */
.BookingSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Services */
.services {
  width: 40vw;
  height: 17em;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

/* Service Detail */
.serviceDetail {
  display: flex;
  gap: 2em;
  margin-top: 3em;
}

/* Services Header */
.services-header {
  padding: 10px;
  display: flex;
  top: 0;
  z-index: 100;
  position: sticky;
  background: white;
  height: 10%;
  justify-content: space-between;
}

/* Services Header titles */
.services-header h6 {
  width: 20%;
}

/* Services List */
.services-list {
  align-items: center;
}

/* Service Container */
.service-container {
  display: flex;
  padding-top: 10px;
}

/* Service Box */
.service-box {
  display: flex;
  justify-content: space-around;
}

/* Service Header List */
.services-header ul {
  display: flex;
  gap: 25px;
}

/* Service Info */
.serviceInfo {
  font-size: 10px;
  position: relative;
  top: -5px;
  display: flex;
  gap: 10px;
}

/* Service Type */
.serviceType {
  flex-direction: column;
  width: 70%;
  margin-left: 1.5em;
  display: flex;
}

/* Amount */
.amount {
  font-size: 20px;
  color: #579540;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Agent Details */
.agentDetails {
  display: flex;
  padding: 10px;
  background: #f2f7ff;
}

/* Agent Image */
.agentDetails img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Agent Info */
.agentInfo {
  display: flex;
  border-radius: 4px;
  width: 100%;
  font-size: 15px;
  justify-content: space-evenly;
}

/* Billing Summary */
.billingSummary {
  width: 35%;
  height: 19em;
  border: 2px solid #e4e9f2;
  border-radius: 4px;
}

/* Billing Summary Header */
.billingSummary .header {
  padding: 5px 0px 30px 5px;
  font-size: large;
  font-weight: 700;
  width: 100%;
  border-bottom: 0.5px solid #c6c6c6;
}

/* Billing Info */
.billingSummary .billingInfo {
  padding: 10px;

  p {
    line-height: 15px;
    display: flex;
    justify-content: space-between;
  }
}

/* Service Actions */
.billingSummary .Service_Actions {
  display: flex;
  flex-direction: column;
}

/* Total Amount */
.billingSummary .totalAmount {
  padding: 15px;
  border-top: 2px dashed #c6c6c6;
  display: flex;
  justify-content: space-between;
}

.billingSummary .totalAmount h6 {
  font-weight: 700;
  font-size: 20px;
}

/* Actions */
.actions {
  display: flex;
  width: 70%;
}

/* Action buttons */
.actions button {
  margin: 0em 1em auto 0em;
  border: 1px solid;
}

/* Proof Images */
.proofImages {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

/* Image */
.proofImages img {
  width: 120px;
  height: 120px;
  margin-right: 0.5em;
}
