<section class="mainContainer">
    <div class="heading">
        <h2>Add New Service</h2>
        <img src="assets/icon/dialog/close.svg" alt="" (click)="closeDialog()">
    </div>
    <div class="imgBox">
        <img src="assets/icon/dialog/image.svg" alt="">
        <h3>Upload Images and videos (Jpg)</h3>
    </div>
    <input type="text" placeholder="Service Name" id="serviceName">
    <textarea name="des" id="description" cols="30" rows="10" placeholder="Description"></textarea>
    <div class="row-1">
        <select name="category" id="category">
            <option value="c1">C1</option>
            <option value="c1">C1</option>
            <option value="c1">C1</option>
        </select>
        <input type="text" placeholder="Cost">
    </div>
    <button mat-flat-button id="addButton">Add Type</button>
    <select name="job" id="job">
        <option value="jobs">jobs</option>
        <option value="jobs">jobs</option>
        <option value="jobs">jobs</option>
    </select>
    <div class="btnn">
        <button mat-flat-button id="addService">Add Service</button>
    </div>
</section>
