.header {
    display: flex;
    justify-content: space-between;

    button {
        border: 1px solid #145889;
        background: transparent;
        border-radius: 20px;
        padding: 2px 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #145889;

        .mat-icon {
            margin-left: 15px;
        }

        &:hover {
            background-color: #145889;
            color: #fff;
        }
    }
}

.icons {
    display: flex;
    align-items: center;
    
    img {
        cursor: pointer;
    }
}