<div class="wrapper">
  <div class="buttons">
    <button
      (click)="changeTab('users')"
      [ngClass]="{ active: tabStatus.users }"
    >
      Users & Permission
    </button>
    <button
      (click)="changeTab('admin')"
      [ngClass]="{ active: tabStatus.admin }"
    >
      Admin Panel
    </button>
    <button
      (click)="changeTab('customer')"
      [ngClass]="{ active: tabStatus.customer }"
    >
      Customer Panel
    </button>
    <button
      (click)="changeTab('agent')"
      [ngClass]="{ active: tabStatus.agent }"
    >
      Agent Panel
    </button>
  </div>

  <div class="content">
    <app-users-permission-catalogue
      *ngIf="tabStatus.users"
    ></app-users-permission-catalogue>
    <app-admin-catalogue *ngIf="tabStatus.admin"></app-admin-catalogue>
    <app-customer-catalogue *ngIf="tabStatus.customer"></app-customer-catalogue>
    <app-agent-catalogue *ngIf="tabStatus.agent"></app-agent-catalogue>
  </div>
</div>
