.wrapper {
  padding: 50px 150px 150px 150px;

  .buttons {
    button {
      width: 242.82px;
      height: 59.06px;
      border-radius: 20px;
      color: #454545;
      border: 1.09px solid #000;
      margin: 0 15px;
      background: #fff;

      &:hover {
        background: rgba(20, 88, 137, 0.1019607843);
      }

      &.active {
        color: #fff;
        background: linear-gradient(
            100.99deg,
            #014868 0%,
            #001e42 45.1%,
            #451338 98%
          ),
          linear-gradient(0deg, #cccccc, #cccccc);
      }
    }
  }

  .content {
    margin-top: 50px;
  }
}
