<main *ngIf="isSidebarVisible()">
  <header>
    <mat-toolbar>
      <img
        src="assets/Logo/Jaipur Service Company Logo.svg"
        alt="Jaipur Service Company"
      />
      <div class="title">Jaipur Service Company</div>
      <div class="menu">
        <button
        *ngFor="let item of labels"
        [routerLink]="item.link"
        routerLinkActive="active"
        [disabled]="!item.active"
        >
        <mat-icon>{{ item.icon }}</mat-icon
          ><span class="text">{{ item.name }}</span>
        </button>
        <button (click)="auth.signout()"><mat-icon>exit_to_app</mat-icon><span class="text">Sign-Out</span></button>
      </div>
    </mat-toolbar>
  </header>
  <div class="loader" *ngIf="dataProvider.loading"></div>
  <app-loader></app-loader>
  <router-outlet></router-outlet>
</main>
<main *ngIf="!isSidebarVisible()">
  <router-outlet></router-outlet>
</main>
