i {
    font-size: x-large;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

small {
    color: darkgray;
}