<div class="main-container">

    <div class="containerr">
        <!-- Password Reset Box -->
        <div class="boxx">
            <h2>Forgot Password</h2>
            <p>Enter your email address and we’ll send a link to reset your password</p>
            <form>
                <!-- Email Address Field -->
                <div class="form-group">
                    <label for="email">Enter your email address</label>
                    <input type="email" id="email" name="email" placeholder="Nalinimehta@gmail.com" required>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" routerLink="/change-password">Request Password</button>
                </div>
            </form>
            <!-- Other Features Section -->
            <div class="form-group otherFeature">
                <div class="rememberMe">
                    <a routerLink="/login">Back to Login</a>
                </div>
                <div class="register">
                    <p>Don't have an account? <a routerLink="/register"> Register</a></p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Left Vector Image -->
    <div class="left-vector">
        <img src="assets\icon\Authentication\Left_Bottom.svg">
    </div>
    <!-- Right Vector Image -->
    <div class="right-vector">
        <img src="assets\icon\Authentication\Right_Bottom.svg">
    </div>
</div>
