.area-name {
    text-transform: capitalize;
}

.inner-section {
    padding: 0 !important;
    display: block !important;
}

.header {
    justify-content: space-between;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .icons {
        margin-right: 50px;
        display: flex;
        align-items: center;
    }
}

.button {
    border: 1px solid #145889;
    background: transparent;
    border-radius: 20px;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #145889;

    .mat-icon {
        margin-left: 15px;
    }

    &:hover {
        background-color: #145889;
        color: #fff;
    }
}

::ng-deep app-area-wise-catalogue {
    .mat-expansion-panel-content {
        background: #EDF1F7;

        .mat-expansion-panel-body {
            padding: 0 !important;
        }

        .areas {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #7F9BA480;
            padding: 20px 24px;
            font-weight: 100;

            .icons {
                display: flex;
                align-items: center;
                margin-right: 33px;

                .themeDD {
                    width: 313px;
                }
            }
        }
    }
}