<div class="mainContainer">
    <div class="cardd">
        <h3>DIscount on services</h3>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Appliance Repair">
                <app-appliance-repair-discounts></app-appliance-repair-discounts>
            </mat-tab>
            <mat-tab label="Bathroom cleaning">
                <app-bathroom-cleaning-discounts></app-bathroom-cleaning-discounts>
            </mat-tab>
            <mat-tab label="Kitchen Cleaning">
                <app-kitchen-cleaning-discounts></app-kitchen-cleaning-discounts>
            </mat-tab>
            <mat-tab label="Full Home Cleaning">
                <app-full-home-cleaning-discounts></app-full-home-cleaning-discounts>
            </mat-tab>
            <mat-tab label="Sofa carpet cleaning">
                <app-sofa-carpet-cleaning-discounts></app-sofa-carpet-cleaning-discounts>
            </mat-tab>
            <mat-tab label="Water Tank Cleaning">
                <app-water-tank-cleaning-discounts></app-water-tank-cleaning-discounts>
            </mat-tab>
        </mat-tab-group>
    </div>

    
</div>
