.mainContainer {
    padding: 30px 30px;
    font-family: Lato !important;
    // margin-left: -15px;

    .cardd {
        background-color: white;
        padding: 16px;

        h3 {
            color: black;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

// mat-tab-group{
//     background-color: white;
// }
