<div class="user-card">
  <div class="head1">
    <div>
      <img
        src="https://ik.imagekit.io/xji6otwwkb/Profile.png?updatedAt=1680849745697"
        alt="Avatar"
      />
      <div class="details">
        <div class="d-flex align-items-center">
          <span>Devika Tyagi</span><mat-icon>info</mat-icon>
        </div>
        <span class="sub-text">City Manager | Jaipur</span>
      </div>
    </div>
    <div class="actions">
      <label class="switch">
        <input type="checkbox" [checked]="true" />
        <span class="slider round"></span>
      </label>
      <mat-icon>edit</mat-icon>
      <mat-icon style="color: #d71212">delete</mat-icon>
    </div>
  </div>
  <div class="head2">
    <span>devakidash@gmail.com</span>
  </div>
</div>
