<div class="main-container">
    <!-- Main Content Container -->
    <div class="containerr">
        <!-- Box for Sign Out Button -->
        <div class="boxx">
            <img src="assets\icon\Authentication\Admin.svg" alt="Admin Icon">
            <button routerLink="/login">Sign out</button>
        </div>
    </div>

    <!-- Left Vector Image -->
    <div class="left-vector">
        <img src="assets\icon\Authentication\Left_Bottom.svg" alt="Left Vector">
    </div>

    <!-- Right Vector Image -->
    <div class="right-vector">
        <img src="assets\icon\Authentication\Right_Bottom.svg" alt="Right Vector">
    </div>
</div>