<div class="main">
  <!-- Header -->
  <mat-tab-group class="mat-tab">
    <!-- General -->
    <mat-tab label="General" class="tabs"><app-general></app-general></mat-tab>
    <mat-tab label="Taxes"><app-taxes></app-taxes></mat-tab>
    <!-- Content Management -->
    <!-- Contents -->
    <mat-tab label="Content Management"><app-content-management></app-content-management></mat-tab>

    <!-- Date & Time -->
    <mat-tab label="Date & Time"><app-date-time></app-date-time></mat-tab>

    <!-- Policies -->
    <mat-tab label="Policies"><app-policies></app-policies></mat-tab>
    <mat-tab label="Discounts"><app-coupons></app-coupons></mat-tab>
  </mat-tab-group>
</div>